@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <span class="glyphicon glyphicon-map-marker"></span> Kist College, Kamalpokhari, Kathmandu, Nepal<br />
    <span class="glyphicon glyphicon-phone-alt"></span> 014444444, 9800000000
</address>

<address>
    <strong></strong> <span class="glyphicon glyphicon-envelope">&#160;</span>  <a href="mailto:mail.thapasujan@gmail.com">support@busticketing.com</a><br />
    <strong></strong><span class="glyphicon glyphicon-envelope">&#160;</span> <a href="mailto:sujanthapa.magnus@gmail.com">marketing@busticketing.com</a>
</address>

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14128.717948898036!2d85.325159!3d27.711744!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1e54c69290d012c6!2sKIST+College!5e0!3m2!1sen!2snp!4v1448636386578" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>