@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>Kist COllege<br />
    Kamalpokhari, Kathmandu, Nepal<br />
    <span class="glyphicon glyphicon-phone-alt">&#160;</span><abbr title="Phone"></abbr>
    014444444, 9800000000
</address>

<address>
    <strong></strong> <span class="glyphicon glyphicon-envelope">&#160;</span>  <a href="mailto:mail.thapasujan@gmail.com">support@busticketing.com</a><br />
    <strong></strong><span class="glyphicon glyphicon-envelope">&#160;</span> <a href="mailto:sujanthapa.magnus@gmail.com">marketing@busticketing.com</a>
</address>