@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

</div>
<div>
    <h1>Online Bus Ticketing</h1>
    <p class="lead">Looking for right bus and right seat?</p>
    <p class="lead">You are on right place</p>
    <p><a href="#" class="btn btn-primary btn-large">Get Started &raquo;</a></p>
</div>
