@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-5">
            <h1>Online Bus Ticketing</h1>
            <p class="lead">Looking for right bus and right seat?</p>
            <p class="lead">You are on right place</p>
            <p class="btn btn-primary">@Html.ActionLink("Get Started", "Index", "Ticketing", null, null)</p>
        </div>
        <div class="col-md-6">
            <img src="~/Images/moving-bus.gif" alt="moving-bus" />
        </div>
    </div>
</div>
<div>

</div>
